/* CSS Rulesets consist of three parts: */
/* 1: Selector to select what element you're styling */
/* 2: Declaration block where your CSS go */
/* 3: Declarations of CSS rules inside the declaration block */


table {
    width: 100%;
    /* set the width of table elements to 100% of the width of the parent element */
    background-color: white;   
}

h1 {
    /* Aligning the text for the h1 to center */
    text-align: center;
}

th{
    /* upping font size for the table headers */
    font-size: 20pt;
    /* underline the table headers */
    text-decoration: underline;
}

td {
    /* center the text for the table data elements */
    text-align: center;
    /* upping the font size for the table data elements */
    font-size: 16pt;
}

table, th, td {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
}